<!DOCTYPE html>
<html lang="es">
<head>
  {% include seo-head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/term.css">
</head>
<body class="page-term page-term--{{ page.tipo_termino }}">
  <a href="#main-content" class="skip-link">Ir al contenido principal</a>
  {% include header.html %}
  <main id="main-content" class="term-layout" role="main" tabindex="-1">
    <div class="term-layout__container">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>